body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  height: 100vh;
  width: 100vw;
}

.background div {
  height: 100%;
}

.dashboard {
  /* position: fixed;
  padding-top: 56px;
  top: 0;
  
  height: 100vh;
  overflow: scroll; */
  margin: auto;
  width: 1000px;
  
}

.container {
  z-index: 10;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #212897;
  box-shadow: none;
}

.collapsible {
  margin: 2rem;
}

.module {
  width: 250px;
  margin: 0 0 1em 0;
  overflow: hidden;
}

.fade {
  position: relative;
  height: 10em; /* exactly three lines */
}

.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.sum-button {
  height: 35px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.card .card-title {
  font-weight: 500;
}

.card .card-content p {
  margin: 0;
  line-height: 1rem;
  /* vertical-align: middle; */
  align-items: center;
  /* justify-content: center; */
  display: flex;
}

.green-text {
  font-size: 20px;
}

.wallet-balance {
  font-size: 20px;
  
}

.initials {
  color: #1a237e;
  font-weight: 500;
  font-size: 20px;
}

.WelcomeGroup {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.WelcomeText {
  margin: 0;
  color: rgba(38, 37, 133, 0.8);
  font-size: 45px;
  line-height: 1.5;
}

.WelcomeParagraph {
  color: rgba(41, 40, 40, 0.6);
  font-size: 30px;
  line-height: 1.5;
}